$color-pure-white: #fff;
$color-blue-malibu-lr: #8ED4F5;
$color-gray-scorpion: #605e5e;
$color-bluegreen-malibu-lr: #26778c;
$color-black-mineshaft: #2f2e2e;
$color-gray-silver: #ccc;
$color-red-hibiscus: #cc3163;
$color-white-transparent: hsla(0, 0%, 100%, .88);
$color-blue-lilly-white: #e9f8ff;
$color-red-alizarin-crimson: #e21717;
$color-gray-boulder: #797676;
$color-blue-gull-gray: #9cb3b9;
$color-white-rose-white: #fff8f8;
$color-dove-gray: #6f6f6f;
$color-cyan: #02ffff;
$color-gray-ebb: #ece6e6;
$color-gray-swiss-coffee: #dbd3d3;

// fonts stacks

$font-montserrat: 'Montserrat', sans-serif;
$font-josefin: 'Josefin Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// base units
$base-font-size: 1.125rem;
$base-line-height: 1.33333 * $base-font-size;

$type-settings: (
  -1: (
    font-size: 0.75rem,
    line-height: $base-line-height
  ),
  0: (
    font-size: 1rem,
    line-height: $base-line-height
  ),
  1: (
    font-size: 1.618rem,
    line-height: $base-line-height * 2
  ),
  2: (
    font-size: 2.618rem,
    line-height: $base-line-height * 2
  )
);


@function type-scale($level) {
  @return map-get(
    map-get($type-settings, $level), 'font-size');
}

@function line-height($level) {
  @return map-get(
    map-get($type-settings, $level), 'line-height');
}

@mixin type-setting($level) {
  font-size: type-scale($level);
  line-height: line-height($level);
}


body {
  color: $color-gray-scorpion;
  font-family: 'Roboto', sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1 {
  color: $color-bluegreen-malibu-lr;
  @include type-setting(2);
  font-weight: 600;
  margin-bottom: $base-line-height * 2;
  margin-top: 0;
}

h2 {
  color: $color-bluegreen-malibu-lr;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: $base-line-height;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: $base-line-height;
}

.w-nav-link {
  @include type-setting(0);
  padding-bottom: $base-line-height *1.5;
  padding-top: $base-line-height *1.5;
}

.w-button {
  @include type-setting(1);
  padding: 0;
}

.section {

  &.header-section {
    background-color: $color-blue-malibu-lr;

  }

  &.hero-section {
    background-image: url('../images/eb45c0_aa07282e94e6433e922ee9251a54596e.jpg');
    background-position: 100% 50%;
    background-size: cover;
    padding-bottom: $base-line-height * 3;
    padding-top: $base-line-height * 3;
  }

  &.footer-section {
    background-color: $color-black-mineshaft;
    color: $color-gray-silver;
    padding-bottom: 31px;
    padding-top: 35px;
  }

  &.content-section {
    padding-bottom: 35px;
    padding-top: 0;

    &.bigspace {
      padding-bottom: 48px;
      padding-top: 48px;
    }
  }

  &.homepage-press {
    background-color: $color-gray-silver;
    padding-bottom: 22px;
    padding-top: 22px;
  }
}

.wide-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1270px;
  position: relative;

  &.press {
    display: flex;
    flex-pack: distribute;
    justify-content: space-around;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.footer-social-link {
  padding-left: 10px;
  padding-right: 10px;
}

.location-list {
  align-content: center;
  box-direction: normal;
  box-orient: horizontal;
  box-pack: start;
  display: flex;
  flex-direction: row;
  flex-pack: start;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.location-item {
  align-self: baseline;
  box-flex: 0;
  flex: 0 0 auto;
  font-size: 15px;
  width: 30%;
}

.footer-column-1 {
  text-align: center;
}

.main-mavbar {
  align-items: center;
  background-color: transparent;
  box-align: center;
  box-direction: normal;
  box-orient: horizontal;
  box-pack: justify;
  display: inline-block;
  flex-direction: row;
  flex-wrap: nowrap;
  float: right;
  justify-content: space-between;
  padding-left: 0;
}

.main-logo {
  max-width: 220px;
}

.main-menu-item {
  color: $color-pure-white;

  &:hover {
    color: $color-bluegreen-malibu-lr;
  }

  &.w--current {
    background-color: $color-bluegreen-malibu-lr;
    color: $color-pure-white;
  }
}

.footer-link {
  color: $color-pure-white;
  display: inline-block;

  &.contact-email {
    background-image: url('../images/mail-gray.png');
    background-position: 0 50%;
    background-repeat: no-repeat;
    font-size: 16px;
    margin-left: 24px;
    margin-right: 12px;
    padding-bottom: 10px;
    padding-left: 33px;
    padding-top: 6px;

    &.phone {
      background-image: url('../images/chevron-right-gray.png');
      background-size: auto;
      margin-left: 26px;
      margin-top: 10px;
      padding-left: 19px;
      position: relative;
      top: 1px;
    }
  }
}

.cleardiv {
  font-size: 1px;
  height: 1px;
  line-height: 1px;
}

.main-nav-container {
  background-color: transparent;
  float: right;
}

.main-nav-wrapper {
  width: 100%;
}

.hero-login-label {
  display: none;
}

h1.hero-second-column-main-heading {
  margin-bottom:  $base-line-height * .25;
}
.hero-list-item {
  @include type-setting(0);
  line-height: $base-line-height ;
  background-image: url('../images/checkmark.png');
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding: ($base-line-height * .5) 0 ($base-line-height * .5) 40px;
}

.hero-list {
  color: $color-gray-scorpion;
}

.hero-login-wrapper {
  background-color: $color-white-transparent;
  border-radius: 9px;
  box-shadow: 0 0 6px 0 $color-pure-white;
  padding: (1 * $base-line-height) 18px;

  &.returning-user {
    margin-left: 23%;
    margin-right: 23%;
  }
}

.button {
  background-color: $color-bluegreen-malibu-lr;
  display: inline-block;
  text-align: center;

  &.hero-login-btn {
    text-align: center;
    width: 100%;

    &.hidden {
      display: none;
    }
  }

  &.hero-new-client-btn {
    display: none;
  }

  &.login {
    padding-left: 32px;
    padding-right: 32px;
  }

  &.error {
    align-items: center;
    background-color: $color-red-hibiscus;
    bottom: 0;
    display:         flex;
    font-size: 16px;
    height: 60px;
    justify-content: center;
    left: 0;
    position: absolute;
    width: 32%;
  }

  &.location-confirm {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-align: center;
    flex-pack: center;
    height: 60px;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 68%;
    z-index: 999;
  }

  &.secondary {
    background-color: $color-blue-gull-gray;
    color: $color-pure-white;
    font-size: 14px;
  }

  &.white {
    background-color: $color-pure-white;
    color: $color-bluegreen-malibu-lr;
  }

  &.order-history-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    width: 180px;
  }

  &.logged-in-shortcuts {
    margin-bottom: 16px;
    width: 100%;
  }
}

.login-field {
  @include type-setting(1);
  box-flex: 1;
  display: inline-block;
  flex: 1;
  margin-right: 6px;
  width: 48%;
  padding:0;

  &.last {
    margin-right: 0;
  }

  &.postal-code {
    margin-bottom: 0;
  }
}

.login-form {
  display: flex;
  flex-wrap: wrap;
}

.hero-left-column {
  padding-left: $base-line-height;
  padding-right: $base-line-height;
}

.hero-login-heading {
  text-align: center;

  &.logged-in {
    float: left;
    padding-right: 38px;
    text-align: left;
  }
}

.footer-menu-item {
  color: $color-pure-white;
  display: block;
  font-size: 16px;
  padding-bottom: 2px;
  padding-top: 2px;
  text-align: left;
}

.footer-nav {
  margin-bottom: 30px;
  margin-top: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.login-divider {
  align-items: center;
  box-direction: normal;
  box-orient: horizontal;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.login-or {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
}

.blue-line {
  background-color: $color-bluegreen-malibu-lr;
  background-image: none;
  background-repeat: repeat;
  display: inline-block;
  flex: 1;
  height: 1px;
}

.new-client-form {
  display: flex;

  &.no-location {
    padding-left: 9%;
    padding-right: 9%;
  }
}

.press-customer-ratings {
  background-image: url('../images/5-stars.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  bottom: 4px;
  display: inline-block;
  font-size: 26px;
  margin-left: 0;
  padding-bottom: 38px;
  padding-top: 10px;
  position: static;
  text-align: center;
  width: 23%;
}

.press-evening-standard {
  display: inline-block;
  margin-left: 56px;
}

.million {
  background-image: url('../images/eb45c0_5443e00750954e26a2683467d5a79720.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  font-size: 26px;
  padding-bottom: 72px;
  width: 26%;
}

.header-phone {
  display: none;
}

.desktop-phone-no {
  @include type-setting(2);
  background-image: url('../images/telephone-icon.png');
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 25px;
  color: $color-white-rose-white;
  display: inline-block;
  margin-left: 20px;
  margin-top: $base-line-height;
  margin-bottom: $base-line-height;
  padding-left: 34px;
}

.user-menu-button {
  background-image: url('../images/user-icon-dark-teal.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 27px;
  display: none;
  height: 59px;
  width: 70px;
}

.user-navbar {
  background-color: transparent;
  display: none;
  padding-bottom: 10px;
  padding-top: 10px;
  position: absolute;
  right: 200px;
  top: 0;
}

.main-nav-link {
  background-color: transparent;
  color: $color-pure-white;
}

.hero-login-button-wrapper,
.order-wrapper {
  text-align: center;
}

.wrong-location-wrapper {
  display: none;
  opacity: 0;
  transform: translate(-250px, 0px);
}

.found-location-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  text-align: center;

  &.bigheading {
    margin-bottom: 47px;
  }
}

.location-confirmation-intro {
  padding-left: 58px;
  padding-right: 58px;
  text-align: center;
}

.location-not-found {
  color: $color-pure-white;
  padding-left: 58px;
  padding-right: 58px;
  text-align: center;
}

.confirm-location-name {
  font-size: 23px;
  text-align: center;

  &.order-page {
    margin-bottom: 28px;
  }
}

.location-image-wrapper {
  display: inline-block;
  overflow: hidden;
  padding-bottom: 60px;
  position: relative;
}

.turnaround-tab-link {
  color: $color-dove-gray;
  width: 50%;

  &.w--current {
    background-color: $color-bluegreen-malibu-lr;
    color: $color-pure-white;
    width: 50%;
  }
}

.turnaround-tab-contents {
  background-color: $color-bluegreen-malibu-lr;
  border: 2px solid $color-bluegreen-malibu-lr;
  color: $color-pure-white;
  min-height: 152px;
  padding: 22px;
  text-align: left;
}

.order-form-label {
  margin-bottom: 15px;
}

.order-column-2 {
  padding-top: 0;
}

.special-instructions {
  min-height: 125px;
}

.order-extra-notes {
  margin-bottom: 30px;
  margin-top: 20px;
}

.voucher-wrapper {
  display: inline-block;
  width: 50%;
}

.change-location-link {
  color: $color-blue-gull-gray;
  font-size: 18px;
}

.request-installation-form {
  margin-top: 20px;
  padding-left: 20%;
  padding-right: 20%;
}

.big-postal-code {
  display: block;
  font-size: 28px;
  line-height: 1.5em;
  margin-top: 5px;
}

.prototype-shortcut-link.no-location {
  color: $color-red-alizarin-crimson;
  display: block;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.footer-column-2 {
  margin-top: 31px;
  text-align: right;
}

.central-location-map {
  height: 280px;
  margin-top: 10px;
}

.no-locker-wrapper {
  background-color: $color-bluegreen-malibu-lr;
  margin-bottom: 15px;
  padding: 15px 5px 0;
}

.qa-wrapper {
  background-color: $color-bluegreen-malibu-lr;
  color: $color-pure-white;
  margin-bottom: 12px;
  overflow: hidden;
  padding: 10px;
}

.question-title {
  cursor: pointer;
  margin-bottom: 1px;
  margin-top: 0;
}

.question-answer {
  display: none;
  opacity: 0;
  transform: translate(0, -82px);
}

.how-it-works-graphic-wrapper {
  margin-bottom: 47px;
  margin-top: 33px;
}

.how-it-works-image {
  display: block;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;

  &.drop-off {
    margin-bottom: 18px;
    margin-top: 28px;
  }

  &.order {
    margin-bottom: 14px;
    margin-top: 15px;
  }
}

.how-it-works-step-title {
  font-size: 30px;
  text-align: center;
}

.how-it-works-step-text {
  background-color: $color-bluegreen-malibu-lr;
  color: $color-white-rose-white;
  padding: 7px 46px;
  text-align: center;
}

.how-it-works-step-wrapper {
  border-color: rgba(0, 0, 0, .15);
  border-style: solid;
  border-width: 1px;
}

.qa-columns {
  margin-top: 35px;
}

.my-account-menu-item {
  font-weight: 700;
}

.my-account-dropdown-toggle {
  color: $color-bluegreen-malibu-lr;
  font-weight: 700;

  &.w--open {
    background-color: $color-bluegreen-malibu-lr;
    color: $color-pure-white;
  }
}

.my-account-dropdown-list.w--open {
  background-color: $color-bluegreen-malibu-lr;
  color: $color-pure-white;
}

.my-account-dropdown-link {
  color: $color-pure-white;

  &.w--current {
    color: $color-cyan;
  }
}

.how-it-works-top-para {
  font-size: 16px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 14px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}

.order-list {
  padding-left: 0;
}

.order-list-heading {
  background-color: $color-bluegreen-malibu-lr;
  color: $color-pure-white;
  float: left;
  padding: 6px 5px;
  width: 25%;
}

.order-list-column {
  background-color: $color-gray-ebb;
  border-right: 1px solid $color-gray-boulder;
  float: left;
  padding: 5px;
  width: 25%;

  &.dark {
    background-color: $color-gray-swiss-coffee;
  }
}

.order-list-heading-row {
  overflow: hidden;
  padding-right: 0;
}

.order-history-wrapper {
  display: none;
  margin-bottom: 1px;
  opacity: 0;
  padding-bottom: 11px;
  padding-left: 20%;
  padding-right: 20%;
   transform: translate(0, -51px);
}

.order-list-pagination {
  text-align: right;
}

.pagination-link {
  border: 1px solid $color-bluegreen-malibu-lr;
  color: $color-bluegreen-malibu-lr;
  font-size: 18px;
  font-weight: 400;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;

  &.current {
    background-color: $color-bluegreen-malibu-lr;
    color: $color-pure-white;
    font-weight: 700;
  }
}

.pagination-text {
  display: inline;
  margin-right: 10px;
}

.current-order-tracking-container {
  background-color: $color-blue-lilly-white;
  border: 1px solid $color-bluegreen-malibu-lr;
  margin-left: 15%;
  margin-right: 15%;
  padding-left: 5%;
  padding-right: 5%;
}

.current-order-graph {
  background-image: url('../images/3px-horz-line.png');
  background-position: 50% 29%;
  background-repeat: repeat-x;
  background-size: 3px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  position: relative;
}

.step-text {
  align-self: center;
}

.current-order-graph-step {
  background-color: $color-bluegreen-malibu-lr;
  border-radius: 50%;
  color: $color-pure-white;
  display: block;
  font-size: 22px;
  height: 50px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0;
  text-align: center;
  width: 50px;

  &.inactive {
    background-color: $color-gray-silver;
  }
}

.step-wrapper {
  background-color: $color-blue-lilly-white;
  text-align: center;
}

.step-name {
  color: $color-bluegreen-malibu-lr;
}

.current-order-heading {
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: 16px;
  text-align: center;
}

.logged-in-shortcuts-wrapper {
  margin-top: 43px;
}

.voucher-bar {
  background-color: $color-bluegreen-malibu-lr;
  color: $color-pure-white;
  text-align: center;
}

.voucher-link {
  @include type-setting(0);
  color: $color-pure-white;
}

@media (max-width: 991px) {

  .section {
    &.footer-section {
      padding-left: 1%;
      padding-right: 1%;
    }
  }

  .wide-container {
    position: relative;

    &.padding {
      padding-left: 2%;
      padding-right: 2%;
    }
  }

  .main-mavbar {
    display: block;
    padding-left: 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
  }

  .main-logo {
    margin-left: 10px;
    margin-top: 6px;
  }

  .hamburger {
    color: $color-bluegreen-malibu-lr;
    font-size: 38px;
    height: 36px;
    width: 40px;
  }

  .menu-button {
    height: 80px;
    padding: 20px;
    width: 80px;

    &.w--open {
      background-color: transparent;
    }
  }

  .main-nav-menu {
    background-color: $color-blue-malibu-lr;
    color: $color-pure-white;
  }

  .main-nav-container {
    margin-top: 0;
  }

  .hero-login-wrapper {
    margin-top: 32px;
  }

  .hero-left-column {
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero-login-heading {
    font-size: 32px;

    &.logged-in {
      margin-bottom: 0;
      padding-right: 0;
      text-align: center;
    }
  }

  .new-client-form {
    &.no-location {
      padding-left: 19%;
      padding-right: 19%;
    }
  }

  .user-menu-button {
    background-image: none;
    display: inline-block;
    height: 80px;
    padding: 20px;
    width: 80px;

    &.w--open {
      background-color: $color-bluegreen-malibu-lr;
    }
  }

  .user-navbar {
    display: inline-block;
    padding-bottom: 0;
    padding-top: 0;
    right: 74px;
    width: 200px;
  }

  .main-nav-link {
    &.w--current {
      color: $color-blue-malibu-lr;
    }
  }

  .nav-menu {
    background-color: $color-bluegreen-malibu-lr;
  }

  .menu-icon {
    background-image: url('../images/menu-icon-w-hover.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 40px;
    height: 40px;
    width: 40px;
  }

  .open-menu-icon {
    background-image: url('../images/menu-icon-w-hover.png');
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 40px;
    display: none;
    height: 40px;
    width: 40px;
  }

  .user-icon {
    background-image: url('../images/user-icon-w-hover.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 40px;
    height: 40px;
    width: 40px;
  }

  .open-user-icon {
    background-image: url('../images/user-icon-w-hover.png');
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 40px;
    display: none;
    height: 40px;
    width: 40px;
  }

  .centered {
    padding-left: 5%;
    padding-right: 5%;
  }

  .turnaround-tab-link {
    width: 50%;

    &.w--current {
      width: 50%;
    }
  }

  .turnaround-tab-contents {
    min-height: 165px;
  }

  .order-form-label {
    margin-top: 23px;
  }

  .order-form {
    margin-left: 2%;
    margin-right: 2%;
  }

  .order-note-para {
    font-size: 15px;
  }

  .how-it-works-step-text {
    padding-left: 18px;
    padding-right: 18px;
  }

  .my-account-dropdown-toggle {
    display: none;
  }

  .how-it-works-top-para {
    padding-left: 1%;
    padding-right: 1%;
  }

  .order-history-wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }

  .current-order-tracking-container {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .current-order-graph {
    margin-left: 5%;
    margin-right: 5%;
  }

  .current-order-heading {
    padding-left: 4%;
    padding-right: 4%;
  }
}

@media (max-width: 767px) {

  .section {
    &.header-section {
      padding-bottom: 0;
      padding-top: 0;
    }

    &.hero-section {
      background-image: none;
      background-size: auto;
      padding-top: 0;
    }
  }

  .main-mavbar {
    margin-top: 0;
    padding-left: 0;
  }

  .main-logo {
    align-self: stretch;
    background-color: $color-bluegreen-malibu-lr;
    flex: 0 auto;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 5px;
  }

  .menu-button {
    display: inline-block;
  }

  .main-nav-container {
    display: inline-block;
    margin-top: 0;
  }

  .main-nav-wrapper {
    flex: 1;
    width: 20%;
  }

  .hero-list-item {
    font-size: 22px;
  }

  .hero-list {
    padding-left: 67px;
  }

  .hero-login-heading.logged-in,
  .hero-second-column-main-heading,
  .footer-menu-item {
    text-align: center;
  }

  .footer-nav {
    margin-bottom: 5px;
  }

  .header-phone {
    background-color: $color-bluegreen-malibu-lr;
    color: $color-pure-white;
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;
    text-align: center;
  }

  .my-account-mobile {
    background-image: url('../images/arrow-down-white.png');
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 16px;
    color: $color-pure-white;
    display: none;
    padding-right: 21px;
    text-decoration: none;
  }

  .mobile-phone-number {
    background-image: url('../images/telephone-icon.png');
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    display: inline-block;
    padding-bottom: 6px;
    padding-left: 26px;
    padding-top: 6px;
  }

  .user-navbar {
    padding-bottom: 0;
    padding-top: 0;
  }

  .confirm-location-name {
    padding-left: 81px;
    padding-right: 81px;

    &.order-page {
      margin-bottom: 0;
      padding-left: 64px;
      padding-right: 64px;
    }
  }

  .turnaround-tabs {
    margin-bottom: 0;
  }

  .order-column-2 {
    padding-top: 0;
  }

  .footer-column-2 {
    margin-top: 0;
    text-align: center;
  }

  .how-it-works-step-text {
    padding-left: 13%;
    padding-right: 13%;
  }

  .how-it-works-step-wrapper {
    margin-bottom: 14px;
    margin-left: 57px;
    margin-right: 57px;
  }

  .how-it-works-top-para {
    font-size: 14px;
  }

  .current-order-tracking-container {
    padding-left: 0;
    padding-right: 0;
  }

  .current-order-heading {
    font-size: 20px;
  }
}

@media (max-width: 479px) {

  .section {
    &.footer-section {
      background-color: $color-black-mineshaft;
      text-align: center;
    }

    &.content-section {
      &.bigspace {
        padding: 14px 1%;
      }
    }

    &.hero-section {
      background-color: $color-pure-white;
      background-image: none;
      background-position: 0 0;
      background-repeat: repeat;
      background-size: auto;
      height: auto;
      padding-bottom: 14px;
      padding-top: 2px;
    }
  }

  .wide-container {

    &.press {
      align-content: space-between;
      align-items: center;
      box-direction: normal;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .location-item {
    width: 50%;
  }

  .footer-heading {
    font-size: 22px;
  }

  .main-logo {
    align-self: stretch;
    height: 74px;
    max-width: 160px;
  }

  .menu-button {
    height: 75px;
  }

  .main-nav-menu {
    margin-top: 0;
  }

  .main-nav-wrapper {
    display:         flex;
  }

  .hero-list-item {
    background-size: 18px;
    font-size: 14px;
    padding-bottom: 3px;
    padding-left: 27px;
    padding-top: 3px;
  }

  .hero-list {
    margin-top: 7px;
    padding-left: 4%;
    padding-right: 4%;
  }

  .hero-login-wrapper {
    background-color: hsla(0, 0%, 100%, .93);
    padding: 5px 3% 0;

    &.returning-user {
      margin-left: 2%;
      margin-right: 2%;
    }
  }

  .button {
    &.hero-new-client-btn {
      box-flex: 0;
      flex: 0 0 auto;
    }

    &.error {
      width: 37%;
    }

    &.location-confirm {
      width: 63%;
    }

    &.order-history-button {
      margin-bottom: 9px;
    }
  }

  .login-field {
    box-flex: 2;
    flex: 2 0 100%;

    &.postal-code {
      box-flex: 1;
      flex: 1;
      width: 68%;
    }
  }

  .login-form {
    align-content: space-between;
  }

  .hero-left-column {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0;
  }

  .hero-login-heading {
    font-size: 19px;
    font-weight: 700;
    margin-top: 3px;
    padding-left: 6%;
    padding-right: 6%;

    &.logged-in {
      padding-bottom: 9px;
      padding-right: 0;
      text-align: center;
    }
  }

  .hero-second-column-main-heading {
    display: none;
  }

  .footer-menu-item {
    padding-bottom: 4px;
    padding-top: 4px;
  }

  .footer-nav {
    margin-top: 0;
  }

  .footer-menu-column-1 {
    margin-bottom: -10px;
    padding-bottom: 0;
  }

  .hero-right-column {
    padding-top: 0;
  }

  .login-divider {
    margin-bottom: 7px;
    margin-top: 7px;
  }

  .login-or {
    font-size: 12px;
  }

  .new-client-form {
    &.no-location {
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  .press-customer-ratings {
    margin-bottom: 24px;
    width: auto;
  }

  .press-evening-standard {
    margin-bottom: 18px;
    margin-left: 0;
    margin-top: -1px;
    padding-left: 11px;
    padding-right: 11px;
  }

  .million {
    padding-bottom: 80px;
    width: 100%;
  }

  .header-phone {
    background-color: $color-bluegreen-malibu-lr;
    color: $color-pure-white;
    display: flex;
    justify-content: flex-end;
    padding: 0 13px;
    text-align: right;
  }

  .my-account-mobile {
    color: $color-pure-white;
    display: none;
  }

  .mobile-phone-number {
    display: inline-block;
  }

  .logo-image {
    padding-top: 10px;
  }

  .user-menu-button {
    height: 75px;
  }

  .user-navbar {
    padding-top: 0;
  }

  .centered {
    font-size: 34px;
  }

  .location-confirmation-intro {
    font-size: 16px;
    padding-left: 9px;
    padding-right: 9px;
  }

  .confirm-location-name {
    font-size: 21px;
    padding-left: 18px;
    padding-right: 18px;

    &.order-page {
      font-size: 16px;
      line-height: 1.5em;
      margin-top: 0;
      padding-left: 37px;
      padding-right: 37px;
    }
  }

  .turnaround-tab-link {
    background-color: $color-gray-silver;
    color: $color-gray-boulder;
    display: inline-block;
    font-size: 17px;
    padding-left: 7px;
    padding-right: 7px;
    width: 50%;

    &.w--current {
      background-color: $color-bluegreen-malibu-lr;
      color: $color-pure-white;
    }
  }

  .turnaround-tab-contents {
    font-size: 16px;
    padding: 11px 20px;
    text-align: left;
  }

  .turnaround-tabs {
    margin-left: 1%;
    margin-right: 1%;
  }

  .voucher-wrapper {
    display: block;
    margin-bottom: 16px;
    margin-top: -24px;
    width: auto;
  }

  .change-location-link {
    font-size: 14px;
  }

  .request-installation-form {
    padding-left: 5%;
    padding-right: 5%;
  }

  .prototype-shortcut-link {

    &.no-location {
      color: $color-red-alizarin-crimson;
      display: block;
      font-size: 16px;
      font-weight: 700;
      margin-top: 13px;
      text-align: center;
    }
  }

  .question-title {
    font-size: 16px;
    line-height: 1.25em;
  }

  .how-it-works-step-text {
    padding-left: 6%;
    padding-right: 6%;
  }

  .how-it-works-step-wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  .how-it-works-top-para {
    font-size: 14px;
    padding-left: 2%;
    padding-right: 2%;
  }

  .order-list-heading {
    align-items: center;
    display: flex;
    font-size: 15px;
    height: 50px;
  }

  .order-list-column {
    font-size: 14px;
  }

  .order-history-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .current-order-tracking-container {
    margin-left: 1%;
    margin-right: 1%;
  }

  .current-order-graph {
    background-position: 50% 50%;
  }

  .step-text {
    font-size: 18px;
  }

  .current-order-graph-step {
    height: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 30px;
  }

  .step-wrapper {
    padding-left: 4px;
    padding-right: 4px;
  }

  .step-name {
    display: none;
  }

  .current-order-heading {
    font-size: 15px;
    padding-left: 12%;
    padding-right: 12%;
  }

  .logged-in-shortcuts-wrapper {
    margin-top: 17px;
  }
}
